# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# System Files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
